<a href="https://colab.research.google.com/github/amsakib32/PHTON-/blob/master/A2_CT2_18101032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python code to determine odd or even.

In [ ]:
x=int(input("Enter a number to check even/odd: "))
if x%2==0:
  print("Even Number")
else:
  print("Odd Number")

Enter a number to check even/odd: 5
Odd Number

Write a python program to calculate the letter grade of an H.S.C exam. The exam mark will be given as input

In [ ]:
x=float(input("Enter a number to check your grade: "))
if x>=80.0:
  print("A+")
elif x>=70.0 and x<80:
  print("A")
elif x>=60 and x<70:
  print("A-")
elif x>=50.0 and x<60:
  print("B")
elif x>=40.0 and x<50:
  print("C")
elif x>=33.0 and x<40:
  print("D")
elif x<32:
 print("F")

Enter a number to check your grade: 70
A

Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.

In [ ]:
x=input("Enter a 12 length string: ")
x1=x[0:3]
x2=x[3:6]
x3=x[6:9]
x4=x[9:12]
y=x4+x2+x3+x1
print("Output: ",y)

Enter a 12 length string: ABCDEFGHIJKL
Output:  JKLDEFGHIABC

Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the ID, it will show all the information of that student

In [ ]:
y=int(input("Enter id: "))
d1={
    "ID":"1",
   "First name":"Peter",
   "Last name":"Lee",
   "Email":"pele@university.edu",
   "Year of birth":"1992"


}
d2={
    "ID":"2",
   "First name":"Jonatham",
   "Last name":"Edwards",
   "Email":"jedwards@university.edu",
   "Year of birth":"1994"


}
d3={
    "ID":"3",
   "First name":"Marylin",
   "Last name":"Johnsan",
   "Email":"mjohnson@university.edu",
   "Year of birth":"1993"


}
d4={
    "ID":"6",
   "First name":"Joe",
   "Last name":"Kim",
   "Email":"jkim@university.edu",
   "Year of birth":"1992"


}
d5={
    "ID":"12",
   "First name":"Haley",
   "Last name":"Martinez",
   "Email":"hmartinez@university.edu",
   "Year of birth":"1993"


}
dictionary={
    1:d1,
   2:d2,
   3:d3,
   6:d4,
   12:d5
}

print(dictionary[y])

Enter id: 12
{'ID': '12', 'First name': 'Haley', 'Last name': 'Martinez', 'Email': 'hmartinez@university.edu', 'Year of birth': '1993'}

In [ ]:
type(dictionary)

dict