<a href="https://colab.research.google.com/github/amsakib32/PHTON-/blob/master/Phyton_syntex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")
print("Hi Everyone")
print("Welcome")
print("sakib's laptop")

Hello
Hi Everyone
Welcome
sakib's laptop

In phyton if we want to write something for several time it's easy than c just multiplying

In [ ]:
print(2*"ALLAH\n")

ALLAH
ALLAH

r means to print a raw string as it is.

In [ ]:
print(r"c:\dsk\new")
x=2
y=3
x+y

c:\dsk\new

5

By using underscore we can use the previous output for example

In [ ]:
_+10

15

so here the previous output is 5 and now we add 10 so the output is 15

***string***

In [ ]:
name="youtube"

In [ ]:
name[0]

'y'

In [ ]:
name +' rocks'

'youtube rocks'

In [ ]:
name[6]

'e'

In [ ]:
name[-1]

'e'

So when we give the negative number it will works from last to first.like the last letter of the word is store in[-1]

In [ ]:
name[-3]

'u'

In [ ]:
name[0:4]

'yout'

So the previous code means it will print from 0 to 3

In [ ]:
name[2:]

'utube'

In [ ]:
name[:6]

'youtub'

In [ ]:
'my '+name[3:7]

'my tube'

Here it means it will print (3-6) index and by difference 2

In [ ]:
name[3:7:2]

'tb'

Length of a string

In [ ]:
myname="abdullah mohammad sakib"
len(myname)

23

**List**

In [ ]:
nums=[1,2,3,4,5]

In [ ]:
nums

[1, 2, 3, 4, 5]

In [ ]:
nums[1]

2

In [ ]:
names=['sakib','ragib','tasnim']
names

['sakib', 'ragib', 'tasnim']

In [ ]:
mix=[3.98,4,'sakib']
mix

[3.98, 4, 'sakib']

In [ ]:
mil=[names,nums,mix]
mil

[['sakib', 'ragib', 'tasnim'], [1, 2, 3, 4, 5], [3.98, 4, 'sakib']]

Append will add element in the last

In [ ]:
nums.append(6)
nums

[1, 2, 3, 4, 5, 6, 6]

In [ ]:
nums.insert(0,-1)
nums

[-1, 1, 2, 3, 4, 5, 6, 6]

In [ ]:
nums.remove(6)

In [ ]:
nums

[-1, 1, 2, 3, 4, 5, 6]

Pop function works like remove but here we have to pass index number

In [ ]:
nums.pop(0)

-1

If we don't pass any values in the pop function it will remove the last number of the list

In [ ]:
nums

[1, 2, 3, 4, 5, 6]

for deleting multiple value we use del function

In [ ]:
del nums[4:]

In [ ]:
nums

[1, 2, 3, 4]

In [ ]:
nums.extend([5,6,7,8,9])

extend function will add multiple value

In [ ]:
min(nums)

1

In [ ]:
max(nums)

9

In [ ]:
sum(nums)

45

We can also sort the element

In [ ]:
a=[99,25,32,52,10,2,4]
a

[99, 25, 32, 52, 10, 2, 4]

In [ ]:
a.sort()
a

[2, 4, 10, 25, 32, 52, 99]

In [ ]:
b=[46,40,47,42,43,33,38,44,28,29,32,45,35,52]

In [ ]:
b.sort()
b

[28, 29, 32, 33, 35, 38, 40, 42, 43, 44, 45, 46, 47, 52]

**TUPLE:**T**uple is kind of list but here the element value is fixed.That's mean we cann't change the value what we inserted.**

In [ ]:
t=(25,96,21,98,12,6,65)
t

(25, 96, 21, 98, 12, 6, 65)

Index wiil show that the number is in the position of tuple

In [ ]:
t.index(98)

3

In [ ]:
t[3]

98

In set we cann add sample value multiple times but it shows it once.

In [ ]:
set={25,85,78,1,6,9,14}
set

{1, 6, 9, 14, 25, 78, 85}

In [ ]:
a={95,25,78,2,99,36,44,10,8,14,36,69,69}
a

{2, 8, 10, 14, 25, 36, 44, 69, 78, 95, 99}

set doesn't support indexing

In [ ]:
s[5]

TypeError: ignored

By using id function we may find the address of the variable and it's value

In [ ]:
a=5
b=a
b

5

In [ ]:
id(a)

10914624

In [ ]:
id(b)

10914624

here the id /address is same because they are pointing the same box where the box value is 5. And if we want to find the id of 5 it's also give us the same value

In [ ]:
id(5)

10914624

In [ ]:
a=9
id(a)

10914752

Here id of a is different from the previous one because the value of a is now 9 which is in another box that has different address.

In [ ]:
id(b)

10914624

In [ ]:
here id(b) give the same as before because it pionting the value 5

In [ ]:
id(9)

10914752

we can assign two value like that way

In [ ]:
a,b=5,6
a

5

In [ ]:
b

6

NUMBER SYSTEM CONVERSITION IN PHYTON

In [ ]:
bin(32)

'0b100000'

here 0b means it's a binary number

In [ ]:
0b100000

32

In [ ]:
oct(32)

'0o40'

In [ ]:
0o means it's a octual number

In [ ]:
hex(32)

'0x20'

In [ ]:
0x stands for hexadecimal number

SWAPPING TWO VALUES IN PHYTON

In [ ]:
a=5
b=6

In [ ]:
a=a+b
b=a-b
a=a-b
print(a)
print(b)

5
6

this is the one way(not best) that we may swap value without using any temp or extra variable.

In [ ]:
a,b=b,a
print(a)
print(b)

6
5

In [ ]:
that's how we can simply swap in phyton.

PHYTON BITWISE OPERATION

In [ ]:
~13

-14

this is called complent operation .

In [ ]:
12&13

12

this is bitwise and operation .the binary of 12 is 1100 and the binary of 13 is 1101 and we know in and operation when we get both 1 then the answer is 1 otherwise it is 0. as for first two bit it's(0,0)and (0,1) so for that we get 0 and for the other two bit we get (1,1).so the answe is 1100(12)

In [ ]:
12|13

13

this is bitwise or.

In [ ]:
12^13

1

this is x-or bitwise operation.for this when both bit are same then we get 0 otherwise we get 1.

In [ ]:
25^30

7

In [ ]:
10<<2

40

this is left shift operation.we can write 10 .so the left shift means we have to add some 0 in it's rigt.so the binary of 10 is 1010 so 10 left shift 2 means we have to add two 0 .so the binary will be like this 101000(40).

In [ ]:
10>>2

2

this is right shift operation. as the binary of 10 is 1010 and we right shift 2 from 10 .that's why we need to delete 2 bit from rigt.so the answer is 10(2).

**MATH FUNCTION OF PHYTON**

as we are working with mathematical term we have to import math.

In [ ]:
import math
print(math.sqrt(25))
print(math.factorial(5))
print(math.pow(5,3))

5.0
120
125.0
False

as all the writing math is time wasting we can defined it as m or something else.

In [ ]:
import math as m
print(m.floor(2.6))
print(m.ceil(2.6))

2
3

In [ ]:
from math import sqrt,factorial,pow
print(pow(5,2))
print(sqrt(36))
print(factorial(10))

25.0
6.0
3628800

In [ ]:
help('math')

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

**USER INPUT IN PHYTON**

In [ ]:
x=input('Enter a number')
y=input('enter a number')
sum=x+y 
print('Sum: ',sum)

Enter a number5
enter a number4
Sum:  54

It will not adding two number but it may like concating two string.That's true.Because input function take input as string.so we have typecat it into int

In [ ]:
x=int(input('Enter a number '))
y=int(input('Enter a number '))
sum=x+y
print('sum: ',sum)

Enter a number 10
Enter a number 40
sum:  50

by using it we can only use one char.

In [ ]:
ch=input('Enter a char')[0]
print(ch)

Enter a charpjshsusj
p

by using eval function we can evalute an mathmetical expression

In [ ]:
result=eval(input('enter an expression '))
print(result)

enter an expression 10*10-25+10
85

**IF ELSE AND ELIF CONDITION IN PHYTON**

In [ ]:
x=5
if(x%2==0):
  print('even')
  print('yeah')
else:
  print('odd')
  print('wow')

odd
wow

Here it's printing odd and wow beacuse 5 is odd so else is true and two print in the same spaceing.

In [ ]:
x=4
if(x%2==0):
  print('even')
else:
  print('odd')
print('wow')

even
wow

As 4 is even number it have to print only even but why it;s printing wow because the last print line in not in same spacing as other two print.so it is outside of if -else statement.

In [ ]:
x=2
if(x==1):
  print('one')
elif(x==2):
    print('two')

two

elif only works when the previous statement is false .if the statement is true then it excicude the statement and close the program.

***WHILE LOOP***

In [ ]:
i=1
while i<=5:
  print("Hello world")
  i+=1

Hello world
Hello world
Hello world
Hello world
Hello world

nested while loop

In [ ]:
i=1
while i<=5:
  print('you are',end='')
  i+=1
  j=1
  while j<=2:
    print(' cute',end='')
    j=j+1
  print('\n')

you are cute cute

you are cute cute

you are cute cute

you are cute cute

you are cute cute

end='' is for to print it in a line

In [ ]:
help('while')

The "while" statement
*********************

The "while" statement is used for repeated execution as long as an
expression is true:

   while_stmt ::= "while" expression ":" suite
                  ["else" ":" suite]

This repeatedly tests the expression and, if it is true, executes the
first suite; if the expression is false (which may be the first time
it is tested) the suite of the "else" clause, if present, is executed
and the loop terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clause’s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and goes back
to testing the expression.

Related help topics: break, continue, if, TRUTHVALUE

**FOR LOOP IN PHYTON**

In [ ]:
x=[5.5,5,'sakib','a',4.00]
for i in x:
  print(i)

5.5
5
sakib
a
4.0

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,15,1):
  print(i)

10
11
12
13
14

In [ ]:
for i in range(10,15,2):
  print(i)

10
12
14

In [ ]:
for i in range(20,10,1):
print(i)

IndentationError: ignored

we use range as an condition.but range cann't be print in reverse order.

In [ ]:
for i in range(20,10,-2):
  print(i)

20
18
16
14
12

In [ ]:
for i in range(10,20):
  if(i%2==0):
    print(i)

10
12
14
16
18

Break,Continue and pass in phyton

In [ ]:
avg=5
x=int(input('enter how many you want'))
for i in range(1,x):
  if i>avg:
    print('sorry out of stock')
    break;
  print(i)
print('bye')

enter how many you want10
1
2
3
4
5
sorry out of stock
bye

In [ ]:
for i in range(1,20):
  if(i%5==0):
    continue
  print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [ ]:
for i in range(1,10):
  if(i%2!=0):
    pass
  else:
    print(i)

2
4
6
8

In [ ]:
for i in range(5):
  j=1
  for j in range(i):
    print('*',end='')
  print('\n')

*

**

***

****

In [ ]:
for i in range(5,0,-1):
  j=1
  for j in range(i):
    print('*',end='')
  print()

*****
****
***
**
*

FOR-ELSE IN PHYTON:suppose we are trying to print the value from set that are divisible by 5 and if it is not found than print 'not found'

In [ ]:
s=[12,13,14,16,18]
for i in s:
  if i%5==0:
    print(i)
  else:
    print("not found")

not found
not found
not found
not found
not found

but it is printing not found for 4 times and this like wierd.so we would like to print it 1 time

In [ ]:
s=[12,13,14,16,18]
for i in s:
  if i%5==0:
    print(i)
else:
  print("not found")

not found

**PRIME NUMBER**

In [ ]:
x=int(input('Enter a number: '))
y=int(x/2)
for i in range(2,y):
  if(x%i==0):
    print('Not Prime Number')
    break;
else:
  print('Prime number')

Enter a number: 47
Prime number

**ARRAYS IN PHYTON**

In [ ]:
from array import *
arr=array('i',[12,13,-14,15])
arr

array('i', [12, 13, -14, 15])

In [ ]:
help('array')

Help on built-in module array:

NAME
    array

DESCRIPTION
    This module defines an object type which can efficiently represent
    an array of basic values: characters, integers, floating point
    numbers.  Arrays are sequence types and behave very much like lists,
    except that the type of objects stored in them is constrained.

CLASSES
    builtins.object
        array

    ArrayType = class array(builtins.object)
     |  array(typecode [, initializer]) -> array
     |
     |  Return a new array whose items are restricted by typecode, and
     |  initialized from the optional initializer value, which must be a list,
     |  string or iterable over elements of the appropriate type.
     |
     |  Arrays represent basic values and behave very much like lists, except
     |  the type of objects stored in them is constrained. The type is specified
     |  at object creation time by using a type code, which is a single character.
     |  The following type codes are defined:
     |
     |      Type code   C Type             Minimum size in bytes
     |      'b'         signed integer     1
     |      'B'         unsigned integer   1
     |      'u'         Unicode character  2 (see note)
     |      'h'         signed integer     2
     |      'H'         unsigned integer   2
     |      'i'         signed integer     2
     |      'I'         unsigned integer   2
     |      'l'         signed integer     4
     |      'L'         unsigned integer   4
     |      'q'         signed integer     8 (see note)
     |      'Q'         unsigned integer   8 (see note)
     |      'f'         floating point     4
     |      'd'         floating point     8
     |
     |  NOTE: The 'u' typecode corresponds to Python's unicode character. On
     |  narrow builds this is 2-bytes on wide builds this is 4-bytes.
     |
     |  NOTE: The 'q' and 'Q' type codes are only available if the platform
     |  C compiler used to build Python supports 'long long', or, on Windows,
     |  '__int64'.
     |
     |  Methods:
     |
     |  append() -- append a new item to the end of the array
     |  buffer_info() -- return information giving the current memory info
     |  byteswap() -- byteswap all the items of the array
     |  count() -- return number of occurrences of an object
     |  extend() -- extend array by appending multiple elements from an iterable
     |  fromfile() -- read items from a file object
     |  fromlist() -- append items from the list
     |  frombytes() -- append items from the string
     |  index() -- return index of first occurrence of an object
     |  insert() -- insert a new item into the array at a provided position
     |  pop() -- remove and return item (default last)
     |  remove() -- remove first occurrence of an object
     |  reverse() -- reverse the order of the items in the array
     |  tofile() -- write all items to a file object
     |  tolist() -- return the array converted to an ordinary list
     |  tobytes() -- return the array converted to a string
     |
     |  Attributes:
     |
     |  typecode -- the typecode character used to create the array
     |  itemsize -- the length in bytes of one array item
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __copy__(self, /)
     |      Return a copy of the array.
     |
     |  __deepcopy__(self, unused, /)
     |      Return a copy of the array.
     |
     |  __delitem__(self, key, /)
     |      Delete self[key].
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __iadd__(self, value, /)
     |      Implement self+=value.
     |
     |  __imul__(self, value, /)
     |      Implement self*=value.
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __reduce_ex__(self, value, /)
     |      Return state information for pickling.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  __setitem__(self, key, value, /)
     |      Set self[key] to value.
     |
     |  __sizeof__(self, /)
     |      Size of the array in memory, in bytes.
     |
     |  append(self, v, /)
     |      Append new value v to the end of the array.
     |
     |  buffer_info(self, /)
     |      Return a tuple (address, length) giving the current memory address and the length in items of the buffer used to hold array's contents.
     |
     |      The length should be multiplied by the itemsize attribute to calculate
     |      the buffer length in bytes.
     |
     |  byteswap(self, /)
     |      Byteswap all items of the array.
     |
     |      If the items in the array are not 1, 2, 4, or 8 bytes in size, RuntimeError is
     |      raised.
     |
     |  count(self, v, /)
     |      Return number of occurrences of v in the array.
     |
     |  extend(self, bb, /)
     |      Append items to the end of the array.
     |
     |  frombytes(self, buffer, /)
     |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
     |
     |  fromfile(self, f, n, /)
     |      Read n objects from the file object f and append them to the end of the array.
     |
     |  fromlist(self, list, /)
     |      Append items to array from list.
     |
     |  fromstring(self, buffer, /)
     |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
     |
     |      This method is deprecated. Use frombytes instead.
     |
     |  fromunicode(self, ustr, /)
     |      Extends this array with data from the unicode string ustr.
     |
     |      The array must be a unicode type array; otherwise a ValueError is raised.
     |      Use array.frombytes(ustr.encode(...)) to append Unicode data to an array of
     |      some other type.
     |
     |  index(self, v, /)
     |      Return index of first occurrence of v in the array.
     |
     |  insert(self, i, v, /)
     |      Insert a new item v into the array before position i.
     |
     |  pop(self, i=-1, /)
     |      Return the i-th element and delete it from the array.
     |
     |      i defaults to -1.
     |
     |  remove(self, v, /)
     |      Remove the first occurrence of v in the array.
     |
     |  reverse(self, /)
     |      Reverse the order of the items in the array.
     |
     |  tobytes(self, /)
     |      Convert the array to an array of machine values and return the bytes representation.
     |
     |  tofile(self, f, /)
     |      Write all items (as machine values) to the file object f.
     |
     |  tolist(self, /)
     |      Convert array to an ordinary list with the same items.
     |
     |  tostring(self, /)
     |      Convert the array to an array of machine values and return the bytes representation.
     |
     |      This method is deprecated. Use tobytes instead.
     |
     |  tounicode(self, /)
     |      Extends this array with data from the unicode string ustr.
     |
     |      Convert the array to a unicode string.  The array must be a unicode type array;
     |      otherwise a ValueError is raised.  Use array.tobytes().decode() to obtain a
     |      unicode string from an array of some other type.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  itemsize
     |      the size, in bytes, of one array item
     |
     |  typecode
     |      the typecode character used to create the array
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  __hash__ = None

    class array(builtins.object)
     |  array(typecode [, initializer]) -> array
     |
     |  Return a new array whose items are restricted by typecode, and
     |  initialized from the optional initializer value, which must be a list,
     |  string or iterable over elements of the appropriate type.
     |
     |  Arrays represent basic values and behave very much like lists, except
     |  the type of objects stored in them is constrained. The type is specified
     |  at object creation time by using a type code, which is a single character.
     |  The following type codes are defined:
     |
     |      Type code   C Type             Minimum size in bytes
     |      'b'         signed integer     1
     |      'B'         unsigned integer   1
     |      'u'         Unicode character  2 (see note)
     |      'h'         signed integer     2
     |      'H'         unsigned integer   2
     |      'i'         signed integer     2
     |      'I'         unsigned integer   2
     |      'l'         signed integer     4
     |      'L'         unsigned integer   4
     |      'q'         signed integer     8 (see note)
     |      'Q'         unsigned integer   8 (see note)
     |      'f'         floating point     4
     |      'd'         floating point     8
     |
     |  NOTE: The 'u' typecode corresponds to Python's unicode character. On
     |  narrow builds this is 2-bytes on wide builds this is 4-bytes.
     |
     |  NOTE: The 'q' and 'Q' type codes are only available if the platform
     |  C compiler used to build Python supports 'long long', or, on Windows,
     |  '__int64'.
     |
     |  Methods:
     |
     |  append() -- append a new item to the end of the array
     |  buffer_info() -- return information giving the current memory info
     |  byteswap() -- byteswap all the items of the array
     |  count() -- return number of occurrences of an object
     |  extend() -- extend array by appending multiple elements from an iterable
     |  fromfile() -- read items from a file object
     |  fromlist() -- append items from the list
     |  frombytes() -- append items from the string
     |  index() -- return index of first occurrence of an object
     |  insert() -- insert a new item into the array at a provided position
     |  pop() -- remove and return item (default last)
     |  remove() -- remove first occurrence of an object
     |  reverse() -- reverse the order of the items in the array
     |  tofile() -- write all items to a file object
     |  tolist() -- return the array converted to an ordinary list
     |  tobytes() -- return the array converted to a string
     |
     |  Attributes:
     |
     |  typecode -- the typecode character used to create the array
     |  itemsize -- the length in bytes of one array item
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __copy__(self, /)
     |      Return a copy of the array.
     |
     |  __deepcopy__(self, unused, /)
     |      Return a copy of the array.
     |
     |  __delitem__(self, key, /)
     |      Delete self[key].
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __iadd__(self, value, /)
     |      Implement self+=value.
     |
     |  __imul__(self, value, /)
     |      Implement self*=value.
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __reduce_ex__(self, value, /)
     |      Return state information for pickling.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  __setitem__(self, key, value, /)
     |      Set self[key] to value.
     |
     |  __sizeof__(self, /)
     |      Size of the array in memory, in bytes.
     |
     |  append(self, v, /)
     |      Append new value v to the end of the array.
     |
     |  buffer_info(self, /)
     |      Return a tuple (address, length) giving the current memory address and the length in items of the buffer used to hold array's contents.
     |
     |      The length should be multiplied by the itemsize attribute to calculate
     |      the buffer length in bytes.
     |
     |  byteswap(self, /)
     |      Byteswap all items of the array.
     |
     |      If the items in the array are not 1, 2, 4, or 8 bytes in size, RuntimeError is
     |      raised.
     |
     |  count(self, v, /)
     |      Return number of occurrences of v in the array.
     |
     |  extend(self, bb, /)
     |      Append items to the end of the array.
     |
     |  frombytes(self, buffer, /)
     |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
     |
     |  fromfile(self, f, n, /)
     |      Read n objects from the file object f and append them to the end of the array.
     |
     |  fromlist(self, list, /)
     |      Append items to array from list.
     |
     |  fromstring(self, buffer, /)
     |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
     |
     |      This method is deprecated. Use frombytes instead.
     |
     |  fromunicode(self, ustr, /)
     |      Extends this array with data from the unicode string ustr.
     |
     |      The array must be a unicode type array; otherwise a ValueError is raised.
     |      Use array.frombytes(ustr.encode(...)) to append Unicode data to an array of
     |      some other type.
     |
     |  index(self, v, /)
     |      Return index of first occurrence of v in the array.
     |
     |  insert(self, i, v, /)
     |      Insert a new item v into the array before position i.
     |
     |  pop(self, i=-1, /)
     |      Return the i-th element and delete it from the array.
     |
     |      i defaults to -1.
     |
     |  remove(self, v, /)
     |      Remove the first occurrence of v in the array.
     |
     |  reverse(self, /)
     |      Reverse the order of the items in the array.
     |
     |  tobytes(self, /)
     |      Convert the array to an array of machine values and return the bytes representation.
     |
     |  tofile(self, f, /)
     |      Write all items (as machine values) to the file object f.
     |
     |  tolist(self, /)
     |      Convert array to an ordinary list with the same items.
     |
     |  tostring(self, /)
     |      Convert the array to an array of machine values and return the bytes representation.
     |
     |      This method is deprecated. Use tobytes instead.
     |
     |  tounicode(self, /)
     |      Extends this array with data from the unicode string ustr.
     |
     |      Convert the array to a unicode string.  The array must be a unicode type array;
     |      otherwise a ValueError is raised.  Use array.tobytes().decode() to obtain a
     |      unicode string from an array of some other type.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  itemsize
     |      the size, in bytes, of one array item
     |
     |  typecode
     |      the typecode character used to create the array
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  __hash__ = None

DATA
    typecodes = 'bBuhHiIlLqQfd'

FILE
    (built-in)

In [ ]:
from array import *
arr_2=array('I',{15,25,24,85,17})
arr_2

array('I', [15, 17, 85, 24, 25])

In [ ]:
arr_2.insert(2,17)
arr_2

array('I', [15, 17, 17, 17, 85, 24, 25])

In [ ]:
arr_2.count(17)

3

In [ ]:
arr_2.remove(17)
print(arr_2)

array('I', [15, 17, 17, 85, 24, 25])

In [ ]:
arr_2.buffer_info()

(140497713244144, 6)

**String array create:if we defined data type c in first bracket then we also have to defined the value in first bracket or if c is in second bracket the data also in second bracket.Example is below:**

In [ ]:
arr_fruits=("u",["orange","apple","mango"])

In [ ]:
arr_bike=('u',['FZ-5','APACHE'])

In [ ]:
arr_cars=('u',['BMW','LAMBORGINI','PORCHE'])

In [ ]:
arr_2.typecode

'I'

In [ ]:
arr_2.reverse()
print(arr_2)

array('I', [15, 17, 17, 85, 24, 25])

COPYING ARRAY ELEMENT FROM ONE TO ANOTHER

In [ ]:
num_1=array('i',[12,17,15,16,25,98])
num_2=array(num_1.typecode,(a  for a in num_1))
print(num_2)

array('i', [12, 17, 15, 16, 25, 98])

IT will print the value as its suare as here the value is(a*a)

In [ ]:
num_3=array(num_1.typecode,(a*a for a in num_1))
print(num_3)

array('i', [144, 289, 225, 256, 625, 9604])

**ARRAY INPUT FROM USER**